*{
    padding: 0px;
    margin: 0px;
}
.productCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 20vh;
}

.productCard img {
    max-width: 40%;
    border-radius: 4px;
}

.productCard p {
    margin: 8px 0;
}
.productCard button {
    border: None;
    border-radius: 4px;
    
    color: green;
}
.products{
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr; 
    grid-gap : 1rem;
    

}